<?xml version='1.0' encoding='utf-8'?>
<widget id="com.thegrizzlylabs.geniusscan.sdk.cordova.demo" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Genius Scan SDK test app</name>
    <description>
        A simple cordova app to test Genius Scan SDK features
    </description>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <plugin name="cordova-plugin-file" spec="^6.0.1" />
    <plugin name="@thegrizzlylabs/cordova-plugin-genius-scan" spec="~2.3.0">
        <variable name="CAMERA_USAGE_DESCRIPTION" value="Access camera for demo" />
    </plugin>
    <engine name="ios" spec="~4.5.0" />
    <engine name="android" spec="~6.3.0" />
</widget>
