<?xml version='1.0' encoding='utf-8'?>
<widget id="com.geniusscansdk.cordova.demo" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Cordova Demo</name>
    <description>
        A simple cordova app to test Genius Scan SDK features
    </description>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="ios">
        <icon height="40" src="res/ios/icon-iPhone20@2x.png" width="40" />
        <icon height="60" src="res/ios/icon-iPhone20@3x.png" width="60" />
        <icon height="58" src="res/ios/icon-iPhone29@2x.png" width="58" />
        <icon height="87" src="res/ios/icon-iPhone29@3x.png" width="87" />
        <icon height="180" src="res/ios/icon-iPhone60@3x.png" width="180" />
        <icon height="120" src="res/ios/icon-iPhone60@2x.png" width="120" />
        <icon height="76" src="res/ios/icon-iPad76.png" width="76" />
        <icon height="152" src="res/ios/icon-iPad76@2x.png" width="152" />
        <icon height="167" src="res/ios/icon-iPad83@2x.png" width="167" />
    </platform>
    <platform name="android">
        <icon density="mdpi" src="res/android/ic_launcher-mdpi.png" />
        <icon density="hdpi" src="res/android/ic_launcher-hdpi.png" />
        <icon density="xhdpi" src="res/android/ic_launcher-xhdpi.png" />
        <icon density="xxhdpi" src="res/android/ic_launcher-xxhdpi.png" />
        <icon density="xxxhdpi" src="res/android/ic_launcher-xxxhdpi.png" />
        <resource-file src="src/android/build-extras.gradle" target="app/build-extras.gradle" />
        <resource-file src="res/android/colors.xml" target="/app/src/main/res/values/colors.xml" />
        <resource-file src="res/android/ic_launcher_foreground.xml" target="/app/src/main/res/drawable/ic_launcher_foreground.xml" />
        <resource-file src="res/android/ic_launcher.xml" target="/app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml" />
        <preference name="AndroidXEnabled" value="true" />
    </platform>
    <engine name="ios" spec="~7.1.1" />
    <engine name="android" spec="~14.0.0" />
    <plugin name="cordova-plugin-file" spec="^6.0.1" />
    <plugin name="cordova-plugin-preview-any-file" spec="^0.2.9" />
    <plugin name="@thegrizzlylabs/cordova-plugin-genius-scan" spec="@thegrizzlylabs/cordova-plugin-genius-scan@5.17.0">
        <variable name="CAMERA_USAGE_DESCRIPTION" value="Access camera for demo" />
    </plugin>
</widget>
