<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GSSDKSimpleDemo.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>32352</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>81BADC3F13DC4CD17E4C4E24C7008EFB5F16B46E</string>
				<key>dateExpires</key>
				<string>3/9/27</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>32352</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>81BADC3F13DC4CD17E4C4E24C7008EFB5F16B46E</string>
						<key>dateExpires</key>
						<string>3/9/27</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GSSDK.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>67ZL68PX9A</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>5.17.6</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>67ZL68PX9A.com.thegrizzlylabs.geniusscansdk.GSSDKSimpleDemo</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>67ZL68PX9A</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>GSSDKSimpleDemo.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>c8566bad-8b03-42ce-a46c-da0317b55fbc</string>
				<key>dateExpires</key>
				<string>3/9/27</string>
				<key>name</key>
				<string>match AppStore com.thegrizzlylabs.geniusscansdk.GSSDKSimpleDemo</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>67ZL68PX9A</string>
				<key>name</key>
				<string></string>
			</dict>
			<key>versionNumber</key>
			<string>5.17.6</string>
		</dict>
	</array>
</dict>
</plist>
