name: DotNetMaui

# Note: using the `branches` selector excludes all tags
on:
  push:
    branches:
      - '**'

jobs:
  build:
    runs-on: macos-26
    steps:
    - uses: actions/checkout@v4
    - uses: maxim-lobanov/setup-xcode@v1
      with:
        xcode-version: '26.0.1'
    # Retry in case plugin is not yet available on nuget
    - uses: nick-fields/retry@v3
      with:
        timeout_minutes: 30
        max_attempts: 2
        retry_wait_seconds: 300
        command: |
          cd dotnet-maui
          sudo dotnet workload restore
          dotnet build SimpleDemo.csproj
