name: DotNetMaui

# Note: using the `branches` selector excludes all tags
on:
  push:
    branches:
      - '**'

jobs:
  build-android:
    runs-on: macos-26
    steps:
    - uses: actions/checkout@v4
    # Retry in case plugin is not yet available on nuget
    - uses: nick-fields/retry@v3
      with:
        timeout_minutes: 30
        max_attempts: 2
        retry_wait_seconds: 300
        command: |
          cd dotnet-maui
          sudo dotnet workload restore
          dotnet build SimpleDemo.csproj -f net9.0-android
          dotnet build SimpleDemo.csproj -f net10.0-android
  build-ios-dotnet9:
    runs-on: macos-26
    steps:
    - uses: actions/checkout@v4
    - uses: maxim-lobanov/setup-xcode@v1
      with:
        xcode-version: '26.0.1'
    - run: |
        cd dotnet-maui
        sudo dotnet workload restore
        dotnet build SimpleDemo.csproj -f net9.0-ios
  build-ios-dotnet10:
    runs-on: macos-26
    steps:
    - uses: actions/checkout@v4
    - uses: maxim-lobanov/setup-xcode@v1
      with:
        xcode-version: '26.2'
    - run: |
        cd dotnet-maui
        sudo dotnet workload restore
        dotnet build SimpleDemo.csproj -f net10.0-ios
