name: Flutter

on: push

jobs:
  build:
    runs-on: macos-latest
    defaults:
      run:
        working-directory: flutter-plugin-genius-scan-demo
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-java@v1
      with:
        java-version: '12.x'
    - uses: subosito/flutter-action@v1
      with:
        flutter-version: '1.17.5'
    - run: flutter pub get
    - run: flutter build apk
    - run: flutter build ios --release --no-codesign
