name: ReactNative

on: push

jobs:
  build:
    runs-on: macos-latest
    defaults:
      run:
        working-directory: react-native-genius-scan-demo
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - uses: actions/setup-node@v1
    - run: npm install
    - run: cd android && ./gradlew assembleRelease
    - run: cd ios && pod install
    - run: cd ios && xcodebuild archive -workspace demo.xcworkspace -scheme demo CODE_SIGNING_ALLOWED=NO
